## Data from World Happiness Report

The World Happiness Report is an annual publication of the United Nations Sustainable Development Solutions Network. It contains articles, and rankings of national happiness based on respondent ratings of their own lives, which the report also correlates with various life factors.

In this notebook we will explore the happiness of different countries and the features associated.
The datasets that we will use are available in *Data*: **happiness2020.pkl** and **countries_info.csv**.

Although the features are self-explanatory, here a summary: 

**happiness2020.pkl**
* country: *Name of the country*
* happiness_score: *Happiness score*
* social_support: *Social support (mitigation the effects of inequality)*
* healthy_life_expectancy: *Healthy Life Expectancy*
* freedom_of_choices: *Freedom to make life choices*
* generosity: *Generosity (charity, volunteers)*
* perception_of_corruption: *Corruption Perception*
* world_region: *Area of the world of the country*

**countries_info.csv**
* country_name: *Name of the country*
* area: *Area in sq mi*
* population: *Number of people*
* literacy: *Literacy percentage*

In [1]:
!head Data/countries_info.csv

'head' n'est pas reconnu en tant que commande interne
ou externe, un programme exâ€šcutable ou un fichier de commandes.

In [2]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.csv"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

## Task 1: Load the data

Load the 2 datasets in Pandas dataframes (called *happiness* and *countries*), and show the first rows.


**Hint**: Use the correct reader and verify the data has the expected format.

In [3]:
# Load databases
countries = pd.read_csv(COUNTRIES_DATASET, decimal=',')
countries.head(3)

  country_name     area  population  literacy
0  afghanistan   647500    31056997      36.0
1      albania    28748     3581655      86.5
2      algeria  2381740    32930091      70.0

In [4]:
happiness = pd.read_csv(HAPPINESS_DATASET)
happiness['country_name'] = happiness['country'].apply(lambda r: r.lower())
happiness.head(3)

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,country_name
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia,afghanistan
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe,albania
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa,algeria

## Task 2: Let's merge the data

Create a dataframe called *country_features* by merging *happiness* and *countries*. A row of this dataframe must describe all the features that we have about a country.

**Hint**: Verify to have all the rows in the final dataframe

In [5]:
# Merging tables
country_features = pd.merge(countries, happiness).drop('country', axis=1)
country_features.head(3)

,country_name,area,population,literacy,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,afghanistan,647500,31056997,36.0,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia
1,albania,28748,3581655,86.5,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe
2,algeria,2381740,32930091,70.0,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa

## Task 3: Where do people are happier?

Print the top 10 countries based on their happiness score (high is better).

In [6]:
country_features.sort_values(ascending=False, by=['happiness_score']).head(10)

,country_name,area,population,literacy,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
38,finland,338145,5231372,100.0,7.8087,0.954330,71.900825,0.949172,-0.059482,0.195445,Western Europe
31,denmark,43094,5450661,100.0,7.6456,0.955991,72.402504,0.951444,0.066202,0.168489,Western Europe
115,switzerland,41290,7523934,99.0,7.5599,0.942847,74.102448,0.921337,0.105911,0.303728,Western Europe
50,iceland,103000,299388,99.9,7.5045,0.974670,73.000000,0.948892,0.246944,0.711710,Western Europe
92,norway,323802,4610820,100.0,7.4880,0.952487,73.200783,0.955750,0.134533,0.263218,Western Europe
87,netherlands,41526,16491461,99.0,7.4489,0.939139,72.300919,0.908548,0.207612,0.364717,Western Europe
114,sweden,449964,9016596,99.0,7.3535,0.926311,72.600769,0.939144,0.111615,0.250880,Western Europe
88,new zealand,268680,4076140,99.0,7.2996,0.949119,73.202629,0.936217,0.191598,0.221139,North America and ANZ
6,austria,83870,8192880,98.0,7.2942,0.928046,73.002502,0.899989,0.085429,0.499955,Western Europe
72,luxembourg,2586,474413,100.0,7.2375,0.906912,72.599998,0.905636,-0.004621,0.367084,Western Europe

We are interested to know in what world region the people are happier. 

Create and print a dataframe with the (1) average happiness score and (2) the number of contries for each world region.
Sort the result to show the happiness ranking.

In [7]:
region_features = country_features.groupby('world_region')['happiness_score'].agg(['mean', 'count'])
region_features.sort_values(ascending=False, by='mean')

                                        mean  count
world_region
North America and ANZ               7.173525      4
Western Europe                      6.967405     20
Latin America and Caribbean         5.971280     20
Central and Eastern Europe          5.891393     14
Southeast Asia                      5.517788      8
East Asia                           5.483633      3
Commonwealth of Independent States  5.358342     12
Middle East and North Africa        5.269306     16
Sub-Saharan Africa                  4.393856     32
South Asia                          4.355083      6

The first region has only a few countries! What are them and what is their score?

In [8]:
country_features[country_features.world_region=='North America and ANZ'][['country_name', 'happiness_score']]

      country_name  happiness_score
5        australia           7.2228
21          canada           7.2321
88     new zealand           7.2996
127  united states           6.9396

## Task 4: How literate is the world?

Print the name of countries with a level of literacy of 100%. 

For each country, print the name and the world region with the format: *{region name} - {country name} ({happiness score})*

In [11]:
for idx, row in country_features[country_features.literacy==100].iterrows():
    print("{} - {} ({})".format(row.world_region, row.country_name, row.happiness_score))

North America and ANZ - australia (7.222799778)
Western Europe - denmark (7.645599842)
Western Europe - finland (7.808700085)
Western Europe - luxembourg (7.237500191)
Western Europe - norway (7.487999916000001)

What is the global average?

In [15]:
country_features.literacy.mean()

81.85112781954886

Calculate the proportion of countries with a literacy level below 50%. Print the value in percentage, formatted with 2 decimals.

In [19]:
percentage = len(country_features[country_features.literacy<50])/len(country_features)
print("percentage of countries below 50% : {:.2%}".format(percentage))

percentage of countries below 50% : 11.85%

Print the raw number and the percentage of world population that is illiterate.

In [32]:
illiterate_num = country_features.population * (100 - country_features.literacy)/100
illiterate_per = illiterate_num.sum()/country_features.population.sum()

print("number of illiterate in the world : {:.0f} \n percentage of illiterate : {:.2%}".format(illiterate_num.sum(), illiterate_per))

number of illiterate in the world : 1249372988
 percentage of illiterate : 20.33%

## Task 5: Population density

Add to the dataframe a new field called *population_density* computed by dividing *population* by *area*.

In [42]:
country_features['population_density'] = country_features['population']/country_features['area']
country_features[country_features.country_name == 'switzerland']

,country_name,area,population,literacy,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,population_density
115,switzerland,41290,7523934,99.0,7.5599,0.942847,74.102448,0.921337,0.105911,0.303728,Western Europe,182.2217

What is the happiness score of the 3 countries with lowest population density?

In [48]:
country_features.sort_values('population_density')[['happiness_score']].head(3)

    happiness_score
83           5.4562
5            7.2228
14           3.4789

## Task 6: Healty and happy?

Plot in scatter plot the happiness score (x) and healty life expectancy (y).

In [ ]:
country_features.plot.scatter

Feel free to continue the exploration of the dataset! We'll release the solutions next week.

----
Enjoy EPFL and be happy, next year Switzerland must be #1.