In [22]:
import pandas as pd

In [23]:
## import data
PATH = './data/interactive_data.txt'

dataf = pd.read_csv(PATH, index_col=0)
dataf.head(5)

,Intent,Gender,Age,Race,Deaths,Population,Rate
1,None selected,None selected,None selected,None selected,33599,316299978,10.6
2,None selected,None selected,None selected,White,22079,197369634,11.2
3,None selected,None selected,None selected,Black,7765,38896382,20.0
4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [24]:
dataff = dataf.loc[~(dataf=='None selected').any(axis=1)]
dataff.head(5)

,Intent,Gender,Age,Race,Deaths,Population,Rate
152,Suicide,Female,Under 15,White,19,15355910,0.1
153,Suicide,Female,Under 15,Black,1,4095428,0.0
154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
156,Suicide,Female,Under 15,Other,0,1661877,0.0

In [9]:
#Deaths
deaths = dataff['Deaths'].sum()

#Suicides
suicides = dataff[dataff['Intent']=='Suicide']['Deaths'].sum()
print(suicides/deaths * 100)

62.68194671826165

In [13]:
#Male Suicides
male_suicides = dataff[(dataff['Intent'] == 'Suicide') & (dataff['Gender'] == 'Male')]['Deaths'].sum()
print(male_suicides/suicides * 100)

86.24275809668535

In [15]:
#Homicides
homicides = dataff[dataff['Intent'] == 'Homicide']['Deaths'].sum()
print(homicides/deaths * 100)

34.906980205387704

In [16]:
#Homicide victims
homicide_victims_black = dataff[
                            (dataff['Intent'] == 'Homicide') &
                            (dataff['Gender'] == 'Male') &
                            (dataff['Age'] == '15 - 34') &
                            (dataff['Race'] == 'Black')
                        ]['Deaths'].sum()

homicide_victims = dataff[
                            (dataff['Intent'] == 'Homicide') &
                            (dataff['Gender'] == 'Male') &
                            (dataff['Age'] == '15 - 34')
                        ]['Deaths'].sum()
print(homicide_victims_black/homicide_victims *100)

66.12482748044778

In [17]:
#Women
women_homicides = dataff[
                    (dataff['Intent'] == 'Homicide') &
                    (dataff['Gender'] == 'Female')
                ]['Deaths'].sum()
print(women_homicides/homicides * 100)

15.289502856655583